<div class="row">
  <div class="col-12">
    <img [src]="recipe.imagePath" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h5>Recipe name</h5>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary dropdown-toggle">
        Manage recipe
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">To shopping list</a>
        <a class="dropdown-item" href="#">Edit recipe</a>
        <a class="dropdown-item" href="#">Remove recipe</a>
      </div>
    </div>
  </div>
</div>
<div>
  {{ recipe.description }}
</div>
<div>Ingredients</div>
